.agents/
.codex/
.vs/
Debug/
tools/
vcpkg_installed/

Bai1.trenlop/Debug/
Bai1.trenlop/glm/
Bai1.trenlop/glm-1.0.3/
Bai1.trenlop/*.vcxproj.user
Bai1.trenlop/glut*

*.exe
*.ilk
*.idb
*.pdb
*.recipe
*.tlog
